asgiref==3.7.2
attrs==23.1.0
channels==4.0.0
channels-redis==4.1.0
Django==4.2.6
django-braces==1.13.0
django-ckeditor==6.7.0
django-cleanup==8.0.0
django-cors-headers==4.1.0
django-crispy-forms==1.7.2
django-debug-toolbar==4.1.0
django-environ==0.4.5
django-filter==23.2
django-js-asset==2.1.0
django-modeltranslation==0.18.11
django-mptt==0.15.0
django-resized==1.0.2
django-rest-registration==0.8.2
djangorestframework==3.14.0
gunicorn==19.9.0
numpy==1.21.5
Pillow==10.0.0
psycopg2-binary==2.9.6
python-decouple==3.8
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
sqlparse==0.4.4
xhtml2pdf==0.2.3
daphne